<div class="row">
  <div class="col s3">
    <div class="row">
      <div class="col s12">
        <%= render 'users/info', user: @user %>
      </div>
    </div>
  </div>

  <div class="col s9">
    <div class="card">
      <div class="card-content blue-grey-text">
        <span class="card-title">Tags</span>
        <%= render 'tag' %>
      </div>
    </div>
  </div>
</div>